<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langchain Flask App</title>
</head>
<body>
    <h1>Langchain Flask App</h1>
    <form action="/invoke" method="post">
        <!-- <label for="api_key">API Key:</label> -->
        <!-- <input type="text" id="api_key" name="api_key" required><br> -->
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required><br>
        <input type="submit" value="Invoke RAG Chain">
    </form>
</body>
</html>

